p {
    color: green;
}
.about{
    position: relative;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.about:hover{
text-decoration: underline;
}
.store{
    position: relative;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.store:hover{
    text-decoration: underline;
}
.gmail{
    position: relative;
    right: -915px;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.gmail:hover{
    text-decoration: underline;
}
.images{
    position: relative;
    right: -900px;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.images:hover{
    text-decoration: underline;
}
.sign_in{
    position: relative;
    right: -950px;
    top: 5px;
    line-height: 28px;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    /*background: #4285f4;*/    
}

