body{
    min-height: 100%;
    min-width: 100%;
}
.non_footer{
    padding-bottom: 100px;
}
.about{
    position: relative;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.about:hover{
    text-decoration: underline;
}
.store{
    position: relative;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.store:hover{
    text-decoration: underline;
}
.gmail{
    position: relative;
    right: -915px;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.gmail:hover{
    text-decoration: underline;
}
.images{
    position: relative;
    right: -900px;
    top: 5px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.images:hover{
    text-decoration: underline;
}
.sign_in{
    position: relative;
    right: -950px;
    top: 5px;
    line-height: 28px;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    /*background: #4285f4;*/    
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
    top: 100px;
}
#form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
    top: 275px;
    right: 100px;
}
.search_bar{
    border: transparent;
    border-radius: 20px;
    border-color: grey;
    box-shadow: 0px 0px 5px grey; /*Using 0px for the horizontal and vertical offset creates the shadow around the whole element*/
    width: 500px;
    height: 44px;
    padding-left: 40px;
    padding-right: 40px;
}
.magnifying_glass{
    width: 1.5%;
    height: auto;
    position: absolute;
    top: 324px;
    left: 450px;
}
.search_button{
    font-family: arial, sans-serif;
    text-align: center;
    white-space: nowrap;
    background: #f8f9fa;
    border: 1px #f8f9fa;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    height: 30px;
    position: absolute;
    top: 70px;
    left: 90px;
}
.lucky{
    font-family: arial, sans-serif;
    text-align: center;
    white-space: nowrap;
    background: #f8f9fa;
    border: 1px #f8f9fa;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    height: 30px;
    position: absolute;
    top: 381px;
    left: 675px;
}
.advertising{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding: 10px;
    top: 15px;
}
.advertising:hover{
    text-decoration: underline;
}
.business{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding: 10px;
    top: 15px;
}
.business:hover{
    text-decoration: underline;
}
.how_search_works{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding: 10px;
    top: 15px;
}
.how_search_works:hover{
    text-decoration: underline;
}
.privacy{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding: 10px;
    top: 15px;
}
.privacy:hover{
    text-decoration: underline;
}
.terms{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding: 10px;
    top: 15px;
}
.terms:hover{
    text-decoration: underline;
}
.settings{
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    padding: 10px;
    top: 15px;
}
.settings:hover{
    text-decoration: underline;
}
#nav1{
    position: relative;
    left: 25px;

}
#nav2{
    position: relative;
    left: 785px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
footer {
    position: fixed;
    top: 575px;
    background: #f2f2f2;
    border: 1px #f2f2f2;
    width: 100%;
    clear: both;
    height: 100%;
    bottom: 0;
    left: 0;
}
.bento_menu{
    display: grid;
    grid-template-columns: 5px 5px 5px;
    grid-template-rows: 5px 5px 5px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
.bento_dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #5f6368;
    display: inline-block;
    position: relative;
    left: 1182px;
    top: -60px;
    opacity: 1;
}