p {
    color: green;
}
.about{
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.about:hover{
text-decoration: underline;
}
.store{
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.store:hover{
    text-decoration: underline;
}
.gmail{
    position: relative;
    right: -915px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.gmail:hover{
    text-decoration: underline;
}
.images{
    position: relative;
    right: -900px;
    color: #000;
    font-family: arial, sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 15px;
    text-decoration: none;
}
.images:hover{
    text-decoration: underline;
}